@keyframes colorrotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  from {
    filter: hue-rotate(0deg);
    transform: scale(1.0) rotate(1deg);
    /* height: 50px; */
  }
  50% {
    filter: hue-rotate(360deg);
    transform: scale(1.1) rotate(360deg);
    /* height: 55px;
    margin: -2.5px; */
  }
  to {
    filter: hue-rotate(720deg);
    transform: scale(1.0) rotate(720deg);
    /* height: 50px; */
  }
}

@keyframes pop {
  from, to {
    transform: scale(1.0) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-10deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

body {

  /* background: rgb(238, 237, 229);  */
  /*  background: rgb(185, 70, 41); 
   background: rgb(232, 159, 101);  */

  background: linear-gradient(217deg, rgba(60, 60, 60, 1), rgba(45, 45, 45, 1) 70.71%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;
  padding: 0;
  margin: 0;

  height: 1200px;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin: 0px;
}

.logo img {
  height: 50px;
  animation-duration: 3s;
  animation-name: colorrotate;
  animation-iteration-count: infinite;
}

.logo:hover img {
  opacity: 65%;
  /* margin: -1px; */
  /* height: 32px; */
  animation-duration: 0.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  /* cursor: wait; */
}

.title {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1.5%;
  margin-right: 65%;
  font-size: 25px;
  color: rgb(196, 30, 30);
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: #165555;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.title:hover {
  opacity: 65%;
}

.letter1 {
  color: #85F7EA;
}
.letter2 {
  color: #A0E5E6;
}
.letter3 {
  color: #B9D4E1;
}
.letter4 {
  color: #CCCFE3;
}
.letter5 {
  color: #71AA92;
}
.letter6 {
  color: #FAC47A;
}
.letter7 {
  color: #F7EE89;
}
.letter8 {
  color: #E0F2B8;
}

/* .video {
  border: 1px solid lightgrey;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
} */

.nav-bar {
  /* position: fixed; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  padding: 0px 25px;

  border: 1px solid rgb(212, 212, 212);
  background: rgb(245, 245, 245); 
  z-index: 5;
}

.nav-a {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
  margin: 10px;
  /* align-items: center; */
}

.nav-links img {
  height: 30px;
}

.nav-links:hover img {
  opacity: 65%;
  animation-duration: 0.75s;
  animation-name: pop;
  animation-iteration-count: infinite;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 10px;
  color: rgb(15, 171, 192);
  border-bottom: 1px solid rgb(15, 171, 192);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip {
  font-weight: 600;
}

.tooltiptext {
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  right: -90%;
  top: 150%;
  font-weight: 100;
}

.tooltip:hover {
  position: relative;
  z-index: 5;
  animation-duration: 1.5s;
  animation-name: fadein;
}

.error {
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2%;
  margin-right: 68%;
  font-size: 20px;
  color: rgb(235, 79, 79);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 25%;
  width: 50%;
}

button {
  padding: 5px;
  margin: 5px;

  background: linear-gradient(220deg, rgba(83, 83, 83, 1), rgba(120, 120, 120, 1) 80%);
  /* background:lightgreen; */
  border-radius: 5px;
  color: rgb(255, 248, 240);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  animation-duration: 3s;
  animation-name: fadein;
}

button:hover {
  box-shadow: 0 0 5px rgba(170, 231, 211, 0.7);
  background: linear-gradient(220deg, rgba(120, 120, 120, 1), rgba(200, 200, 200, 1) 80%);
  /* opacity: 65%; */
}